extends layout

block content
  - var lines = results;
  h1 Search Results
  button.btn(class="btn-primary ml-1", onclick= "goToCreate()") Create
  div(class="container-fluid")
        each value,index in lines
          -let updateDestination = `dispatch(\"/lines/update?id=${value._id}\")`
          -let viewDestination = `viewOnid(\"/lines/detail?id=${value._id}\")`
          -let deleteDestination = `deleteOnid(\"/lines/delete?id=${value._id}\")` 
            div(class="row m-3",style="cursor:pointer")
             div(class="col-lg-2 col-2 col-sm-2") #{value.line_type} 
             div(class="col-lg-2 col-2 col-sm-2") #{value.line_color}
             div(class="col-lg-2 col-2 col-sm-2") #{value.line_thickness}
             div(class="col-6 col-lg-6 col-sm-6")
              button(class="btn btn-primary ml-1", onclick= viewDestination) View 
              button(class="btn btn-primary ml-1", onclick= updateDestination) Update
              button(class="btn btn-danger m-1" onclick= deleteDestination) Delete 
              button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
   
  script. 
    function dispatch(path){ 
      window.location.href=path;
    }

  script. 
    function cancel() { 
      // Go back to the home page for the line collection 
      window.location.href='/lines' 
    } 
  script. 
    function deleteOnid(path) { 
     window.location.href=path 
    }
  script. 
    function goToCreate(){
      // Go back to the home page for the line collection 
      window.location.href='/lines/create'
    }

  script. 
    function viewOnid(path){
      // Go back to the home page for the line collection 
      window.location.href=path
    }     
  
  
