extends layout

block content
  - var lines = results;
  h1 Search Results
  div(class="container-fluid")
        each value,index in lines
          -let destination = `dispatch(\"/lines/update?id=${value._id}\")` 
            div(class="row m-3",style="cursor:pointer",onclick=`buy(${index+1})`)
             div(class="col-lg-2 col-3 col-sm-2") #{value.line_type} 
             div(class="col-lg-2 col-3 col-sm-2") #{value.line_color}
             div(class="col-lg-2 col-3 col-sm-2") #{value.line_thickness}
             div(class="col-3 col-lg-2 col-sm-2") 
              button.btn(class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path;
    } 
  
  script. 
       function buy(rowNo){
         alert('You purchased item' + rowNo);
       }
